.row:after,
.row:before {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
    width: 100%;
    height: auto;
}

.s1 {
    width: 8.33333%;
}

.s2 {
    width: 16.66667%;
}

.s3 {
    width: 25%;
}

.s4 {
    width: 33.33333%;
}

.s5 {
    width: 41.66667%;
}

.s6 {
    width: 50%;
}

.s7 {
    width: 58.33333%;
}

.s8 {
    width: 66.66667%;
}

.s9 {
    width: 75%;
}

.s10 {
    width: 83.33333%;
}

.s11 {
    width: 91.66667%;
}

.s12 {
    width: 100%;
}

@media only screen and (min-width: 576px) {
    .m1 {
        width: 8.33333%;
    }
    .m2 {
        width: 16.66667%;
    }
    .m3 {
        width: 25%;
    }
    .m4 {
        width: 33.33333%;
    }
    .m5 {
        width: 41.66667%;
    }
    .m6 {
        width: 50%;
    }
    .m7 {
        width: 58.33333%;
    }
    .m8 {
        width: 66.66667%;
    }
    .m9 {
        width: 75%;
    }
    .m10 {
        width: 83.33333%;
    }
    .m11 {
        width: 91.66667%;
    }
    .m12 {
        width: 100%;
    }
}

@media only screen and (min-width: 769px) {
    .l1 {
        width: 8.33333%;
    }
    .l2 {
        width: 16.66667%;
    }
    .l3 {
        width: 25%;
    }
    .l4 {
        width: 33.33333%;
    }
    .l5 {
        width: 41.66667%;
    }
    .l6 {
        width: 50%;
    }
    .l7 {
        width: 58.33333%;
    }
    .l8 {
        width: 66.66667%;
    }
    .l9 {
        width: 75%;
    }
    .l10 {
        width: 83.33333%;
    }
    .l11 {
        width: 91.66667%;
    }
    .l12 {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    .xl1 {
        width: 8.33333%;
    }
    .xl2 {
        width: 16.66667%;
    }
    .xl3 {
        width: 25%;
    }
    .xl4 {
        width: 33.33333%;
    }
    .xl5 {
        width: 41.66667%;
    }
    .xl6 {
        width: 50%;
    }
    .xl7 {
        width: 58.33333%;
    }
    .xl8 {
        width: 66.66667%;
    }
    .xl9 {
        width: 75%;
    }
    .xl10 {
        width: 83.33333%;
    }
    .xl11 {
        width: 91.66667%;
    }
    .xl12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1201px) {
    .xxl1 {
        width: 8.33333%;
    }
    .xxl2 {
        width: 16.66667%;
    }
    .xxl3 {
        width: 25%;
    }
    .xxl4 {
        width: 33.33333%;
    }
    .xxl5 {
        width: 41.66667%;
    }
    .xxl6 {
        width: 50%;
    }
    .xxl7 {
        width: 58.33333%;
    }
    .xxl8 {
        width: 66.66667%;
    }
    .xxl9 {
        width: 75%;
    }
    .xxl10 {
        width: 83.33333%;
    }
    .xxl11 {
        width: 91.66667%;
    }
    .xxl12 {
        width: 100%;
    }
}

@media only screen and (min-width: 1441px) {
    .xxxl1 {
        width: 8.33333%;
    }
    .xxxl2 {
        width: 16.66667%;
    }
    .xxxl3 {
        width: 25%;
    }
    .xxxl4 {
        width: 33.33333%;
    }
    .xxxl5 {
        width: 41.66667%;
    }
    .xxxl6 {
        width: 50%;
    }
    .xxxl7 {
        width: 58.33333%;
    }
    .xxxl8 {
        width: 66.66667%;
    }
    .xxxl9 {
        width: 75%;
    }
    .xxxl10 {
        width: 83.33333%;
    }
    .xxxl11 {
        width: 91.66667%;
    }
    .xxxl12 {
        width: 100%;
    }
}

body{
    height: 100vh;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    padding: 1.2rem;

}

.overallCover{
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: .5rem 1rem;
    height: 100%;
    width: 100%;
    overflow: auto;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* ------------Table Decoration---------- */
.customTableCover{
    height: calc(100% - 190px);
    overflow: auto;
    margin: 0 auto;
    width: 100%;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
    border-right: 5px solid #000;
    /* border-radius: 10px 0 0 10px; */
    cursor: pointer;
    background: #000;
}

.customTable {
    border-collapse: collapse;
    width: 100%;
    border: none;

}

.customTable td
{
    border: 2px solid #ddd;
    padding: 4px;
}

.customTable tr:nth-child(odd) {
    background-color: #fff;
}

.customTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customTable tr:hover {
    background-color: #ddd;
}

.customTable th {
    border-right: 2px solid #063900;
    border-bottom: 2px solid #063900;
    background-color: #088C00;
    color: white;
}

.selectionItemCover{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.selectionItem{
    color: #fff;
    background-color: #045115;
    border-radius: 50rem;
    margin: 1rem .5rem;
    border: .1rem solid #333;
    width: 180px;
    padding: .5rem 0;
    text-align: center;
    cursor: pointer;
    /* background-image: linear-gradient(45deg, #73B51A 0%, #1D5430 100%); */
}

.selectionItem.active{
    background: #000;
}

.customTableCover::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /* background-color: #F5F5F5; */
    background-color: #000;
}

.customTableCover::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    /* background-color: #F5F5F5; */
    background-color: #000;
    
}

.customTableCover::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /* background-color: #ccc; */
    background-color: #3BA87A;
    background-clip: content-box;
}

.overallCover::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /* background-color: #F5F5F5; */
    background-color: #000;
}

.overallCover::-webkit-scrollbar
{
	width: 8px;
    /* background-color: #F5F5F5; */
    background-color: #000;
    
}

.overallCover::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /* background-color: #ccc; */
    background-color: #fff;
    background-clip: content-box;
}



.customTableInnerCover{
    display: none;
    width: 100%;
    background: #000;
}



.customTable1Counter{
    font-weight: 600;
    color: #040046;
    text-align: center;
    background: #B0D8B7;
    border: 2px solid #000 !important;
}

.customTable1Code{
    border-left: 2px solid #000 !important;
}


.customTable1_Nkw{
    color: #005cc5;
}

.customTable1_Nid{
    color: #000;
}

.customTable1_Nop{
    color: #BF4EFF;
}

.customTable1_Nnv{
    color: #D00F2C;
}

.customTable1_Nsl{
    color: #088C00;
    border-right: 2px solid #000 !important;
}


.customTable1DataCount{
    font-weight: 600;
    text-align: center;
}


.customTable1Total{
    background: #042807;
    color: #f1f1f1;
    font-weight: 900;
    text-align: center;
    border: 2px solid #6D6E72 !important;
    border-right: 2px solid #000 !important;
}

.modalTableSave{
    background: #73B51A;
    border: 1px solid #000;
    margin: .5rem auto;
    width: 50%;
    text-align: center;
    padding: .5rem 0;
    border-radius: 50px;
    color: #fff;
}


.modalTable {
    border-collapse: collapse;
    width: 100%;
    border: none;

}

.modalTable td, th
{
    border: 2px solid #000;
    padding: 8px;
}

.modalTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.modalTable th {
    border-right: 2px solid #063900;
    border-bottom: 2px solid #063900;
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #088C00;
    color: white;
}

.modalTableTopic{
    text-align: center;
    padding: .5rem 0;
    font-weight: 900;
}

.finalRowBorder{
   border-bottom: 3px solid #000 !important;
}

.centerHeader{
    text-align: center;
}

.rotatedWord{
    transform: rotate(-45deg);
    display: inline-block;
    font-size: 14px;
}

.selector{
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    border: 2px solid #000;
    cursor: pointer;
    
}

.selector img{
    width: 50px;
    height: 50px;
    display: block;
    margin: auto;
}


.commonModal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}


.uploadModal{
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    display: none;
    background: #F5F5F5;
    padding: 1rem;
    border-radius: 5px;
}

.uploadModalBack{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.9);
    cursor: pointer;
    display: none;
}


.fileSubmitForm{
    background: #F5F5F5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 50vh;
    margin: 0 auto;
    padding: 2rem;
}

.fileSubmitForm_item {
    margin: .5rem 0;
}

.fileSubmitForm_item-btn {
    width: 20rem;
}

.topSettingBar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.setWeight{
    background: #045115;
    width: 20%;
    padding: .5rem 0;
    color: #fff;
    text-align: center;
    border-radius: 5rem;
    margin: .5rem 2rem;
    cursor: pointer;
    /* background-image: linear-gradient(45deg, #73B51A 0%, #1D5430 100%); */
    border: 1px solid #000;

}


.programComplexity{
    display: block;
    font-weight: 600;
    display: none;
}

.programComplexitySpan{
    border: 1px solid #333;
    display: inline-block;
    padding: .5rem 2rem;
    margin: 1rem;
    border-radius: 10px;
}



#fileSelectedOption{
    width: 200px;
    margin: 0 2rem;

}
#fileSelectedOption option{
    text-align: center;
    border: 2px solid #000;
    
}



.inputNumbrs{
    width: 100%;
    text-align: center;
}


.tooltip {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #000;
    color: #fff;
    min-width: 300px;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 10;
    top: 80%;
    left: 0;
    transform: translate(-100%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    word-break: none;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    border-width: 6px;
    border-style: solid;
    transform: translate(100%, -50%);
    border-color: transparent transparent transparent #000 ;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }